<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <!-- FRONT END LINK DATABASE -->
        <FrontEndLinkDatabase type="Sitecore.Data.$(database).$(database)LinkDatabase,Sitecore.Kernel">
            <param connectionStringName="core"/>
        </FrontEndLinkDatabase>

        <settings>
            <setting name="LinkDatabase.DefaultDatabaseName" value="core" />
            <setting name="LinkDatabase.MaxConcurrentThreads" value="64" />
        </settings>

        <events>
            <event name="publish:itemProcessing">
                <handler type="Sitecore.LinkDatabaseContrib.EventHandlers.PublishEventHandler, Sitecore.LinkDatabaseContrib" method="OnItemProcessing">
                    <database>web</database>
                </handler>
            </event>
            <event name="publish:itemProcessed">
                <handler type="Sitecore.LinkDatabaseContrib.EventHandlers.PublishEventHandler, Sitecore.LinkDatabaseContrib" method="OnItemProcessed">
                    <database>web</database>
                </handler>
            </event>
            <event name="item:saved">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnItemSaved">
                    <patch:attribute name="type">Sitecore.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecore.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
            <event name="item:deleted">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnItemDeleted">
                    <patch:attribute name="type">Sitecore.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecore.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
            <event name="item:versionRemoved">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnVersionRemoved">
                    <patch:attribute name="type">Sitecore.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecore.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
            <event name="item:copied">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnItemCopied">
                    <patch:attribute name="type">Sitecore.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecore.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
        </events>
    </sitecore>
</configuration>
