<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!-- FRONT END LINK DATABASE -->
        <FrontEndLinkDatabase type="Sitecore.Data.$(database).$(database)LinkDatabase,Sitecore.$(database)">
            <param desc="connection" ref="connections/web" />
        </FrontEndLinkDatabase>

        <settings>
            <setting name="LinkDatabaseManager.DefaultDatabaseName" value="core" />
        </settings>

        <events>
            <event name="publish:itemProcessing">
                <handler type="Sitecorian.LinkDatabaseContrib.EventHandlers.PublishEventHandler, Sitecorian.LinkDatabaseContrib" method="OnItemProcessing">
                    <database>web</database>
                </handler>
            </event>
            <event name="publish:itemProcessed">
                <handler type="Sitecorian.LinkDatabaseContrib.EventHandlers.PublishEventHandler, Sitecorian.LinkDatabaseContrib" method="OnItemProcessed">
                    <database>web</database>
                </handler>
            </event>
            <event name="item:saved">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnItemSaved">
                    <patch:attribute name="type">Sitecorian.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecorian.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
            <event name="item:deleted">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnItemDeleted">
                    <patch:attribute name="type">Sitecorian.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecorian.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
            <event name="item:versionRemoved">
                <handler type="Sitecore.Links.ItemEventHandler, Sitecore.Kernel" method="OnVersionRemoved">
                    <patch:attribute name="type">Sitecorian.LinkDatabaseContrib.EventHandlers.ItemEventHandler,Sitecorian.LinkDatabaseContrib</patch:attribute>
                </handler>
            </event>
        </events>
    </sitecore>
</configuration>
